# Ignorar carpetas
data/carpeta_cubo/
parametros_ambientales/
clima_tfm/
.conda/
__pycache__/

# Ignorar extensiones (con doble asterisco para recursividad)
**/*.nc
**/*.csv
**/*.tif
**/*.pkl
**/*.png