# Ignorar carpetas
data/carpeta_cubo/
parametros_ambientales/
clima_tfm/
.conda/
__pycache__/

# Ignorar extensiones (con doble asterisco para recursividad)
**/*.nc
**/*.csv
**/*.tif
**/*.pkl
**/*.png

# Ignorar archivos de Natural Earth Coastline
data/gis/coast/ne_10m_coastline.*

# Ignorar archivos de Natural Earth Coastline
data/gis/ports/ne_10m_ports.*