# Ignorar carpetas
data/carpeta_cubo/
parametros_ambientales/
clima_tfm/
.conda/
__pycache__/

# Ignorar extensiones (con doble asterisco para recursividad)
**/*.nc
**/*.csv
**/*.tif
**/*.pkl
**/*.png
data/carpeta_cubo/
parametros_ambientales/
clima_tfm/
.conda/
__pycache__/
*.nc
*.csv
*.tif
*.pkl
*.png
data/gis/coast/
data/gis/ports/
data/carpeta_especies/
.snakemake/